body {
    background-color: rgb(200,200,200, 0.3);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    widows: 370px;
    margin-top: 25px;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px rgba(200, 200, 200, 0.7);
    padding: 0.5em;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 10px 5px paleturquoise;
}

@media (max-width: 770px) {
    .container {
        margin: 0 10%;
    }

    .image {
        width: 100%;
    }

    .title {
        width: 95%;
        text-align: center;
        font-size: 1.3em;
    }
    

}


